*{
    /*--font-family: 'Mark Pro', sans-serif;*/
    font-family: 'Caesar Dressing', cursive;
}

::-webkit-scrollbar-button {
    display: none;
  }
  
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    width: calc(2px * 2);
    border: 2px solid rgba(26, 26, 26, 0);
  }
  
  ::-webkit-scrollbar-track-piece {
    background: transparent;
    width: calc(2px / 2);
    border: 2px solid rgba(26, 26, 26, 0);
  }
  

html body{
    box-sizing: border-box;
    background-color: black;
    color: white;
}

section img{
    max-width: 100%;
}

.description{
    text-align: center;
    margin-top: 80px;
    
}

.description h1 strong{
    box-sizing: border-box;
    text-align: center;
    font-size: 1.7em;
    letter-spacing: -.05em;
    font-size: 3em;
    color: #EB1C22;
}

.description span{
    text-align: center;
}

button.btn.btn-primary{
    margin-top: 20px;
    margin-bottom: 20px;
}

button.btn.btn-primary a{
    text-decoration: none;
    color: white;
    display: block;
}

.first-back{
    content: url(/img/gate.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -10;
    margin-right: 100px;
    max-width: 100%;
    top: 1400px;
    width: 30%;
    height: 20%;
    z-index: -2;
    box-sizing: border-box;
    overflow: hidden;
}

.col-sm-6{
    box-sizing: border-box  ;
    justify-self: right;
    justify-content: flex-start;
    float: right;
    /*margin-right: 200px;
    border-color: white;
    border-style: solid;*/
    border-radius: 50px;
    
}

.markets{
    padding-left: 80px;
    margin-top: 220px;
    border-radius: 50px;
}

@media only screen and (max-width: 960px){
.markets{
    padding-left: 0px;
    margin-top: 0px;
    text-align: center;
}
}

.back-pic{
    border-bottom-left-radius: -100px;
    border-bottom-right-radius: -100px;
    
}

.col-md-6 img{
    width: 110%;
    height: 80%;
    margin-top: 30px;
}

@media only screen and (max-width: 960px){
    .col-md-6 img{
        width: 90%;
        height: 90%;
        margin-top: 30px;
    }
}


.col-sm-4 img{
    width: 80%;
    height: 70%;
    margin-top: 30px;
}

.card2 img{
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

.card3 img{
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

div.card2{
    box-sizing: border-box;
    width: 300px;
    color: rgb(255, 255, 255);
    background: black;
    border-radius: 30px;
    box-shadow: 10px 20px 80px rgb(42, 95, 187);
    margin-left: 50px;  
    margin: auto;  
}

div.card2:hover{
    color: black;
    cursor: pointer;
}

div.card3{
    box-sizing: border-box;
    width: 300px;
    color: rgb(255, 255, 255);
    background: black;
    border-radius: 30px;
    box-shadow: 10px 20px 80px rgb(169, 49, 171);
    margin-left: 50px;  
    margin: auto;  
}



.col-md-20{
    padding-bottom: 100px;
}

h1.fight{
    text-align: right;
    font-size: 60px;
    padding-top: 30px;
}

@media only screen and (max-width: 960px){
h1.fight{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}
}

h1.fight strong{
    text-align: right;
    font-size: 150%;
    color: #EB1C22;
}

h1.together{
    font-size: 100px;
}

@media screen and (max-width: 960px) {
h1.together strong{
    font-size: 70%;
    text-align: center;
}
}

@media screen and (max-width: 960px) {
    h1.together{
        text-align: center;
    }
    }

@media screen and (max-width: 960px) {
    .col-md-20{
        padding-bottom: 10px;
    }
    }

h1.poly{
    text-align: center;
    margin-bottom: 100px;
}

@media screen and (max-width: 960px) {
    h1.poly{
        margin-top: 50px;
    }
}

h1.poly{
    text-align: center;
    margin-bottom: 100px;
}

.footer{
    padding-bottom: 20px;
}

@media screen and (max-width: 960px) {
    .footer{
        text-align: center;
    }
}

